<div *ngFor="let item of items" class="card" [ngClass]="{link: !ingredients}">
  <mat-card [routerLink]="['/displayItem', item._id]">
    <mat-card-title>{{item.name}}
    </mat-card-title>
    <mat-card-content *ngIf="ingredients">
      <button mat-button color="primary" (click)="onUpdate()">Update</button>
      <mat-list>
        <mat-card-subtitle>Ingredients</mat-card-subtitle>
        <mat-list-item *ngFor="let ing of ingredients">
          {{ing}}
        </mat-list-item>
      </mat-list>
      <mat-card-subtitle>Directions</mat-card-subtitle>
      <br/>{{item.directions}}
    </mat-card-content>
  </mat-card>
  <div *ngIf="!ingredients">
    <button mat-button color="warn" (click)="openDialog(item)">Delete</button>
    <button mat-button color="primary">Add To Menu</button>
  </div>
  <div *ngIf=update>
    <app-update [item]=item (onUpdated)="onUpdated()">
    </app-update>
  </div>
</div>