<div *ngFor="let item of items" class="card" [routerLink]="['/displayItem', item._id]" [ngClass]="{link: !ingredients}">
  <mat-card>
    <mat-card-title>{{item.name}}</mat-card-title>
    <mat-card-content *ngIf="ingredients">
      <mat-list>
        <mat-card-subtitle>Ingredients</mat-card-subtitle>
        <mat-list-item *ngFor="let ing of ingredients">
          {{ing}}
        </mat-list-item>
      </mat-list>
      <mat-card-subtitle>Directions</mat-card-subtitle>
      <br/>{{item.directions}}
    </mat-card-content>
  </mat-card>
</div>